# 4.6 Combining and Exporting Data

The script contains the following contents: 

1. Import the new Pickle file data set into Jupyter as a new dataframe: orders_products_combined.
2. Check the dimensions of the imported dataframe.
3. Merge the dataframe with your df_ords dataframe.
4. Use the indicator argument to check whether there was a full match between the two dataframes.

### Import Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### Step 3: Import Data

In [2]:
# Establish Path
path = r'/Users/claireheger/Documents/Instacart Basket Analysis'

In [14]:
# Import orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [16]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

### Step 4: Check Shape of Data

In [12]:
# Check Shape
df_ords_prods_combined.shape

(32434489, 14)

In [13]:
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,uder_id,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,1,26405,5,0,both

In [17]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### Step 5: Merge Data with Prods Data

In [23]:
# product_id is in both dfs so this will be used as the key to merge.
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [26]:
df_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,uder_id,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,1,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,1,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,1,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,1,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,1,196,1,1,195,Soda,77,7,9.0,both

### Step 6: Confirm Merge with Merge Flag

In [27]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [28]:
df_merged.shape

(32404859, 19)

In [30]:
# Export 
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))