# 4.6 Combining and Exporting Data

The script contains the following contents: 

1. Import the new data set into Jupyter as a new dataframe: df_ords_prior.
2. Check the dimensions of the imported dataframe.
3. Merge the dataframe with your df_ords dataframe.
4. Use the indicator argument to check whether there was a full match between the two dataframes.

### Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

### Import Data

In [3]:
# Establish Path
path = r'/Users/claireheger/Documents/Instacart Basket Analysis'

In [7]:
# Import order_products__prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [10]:
# Import orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [11]:
# Checking the output of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
# Checking the output of df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,uder_id
0,0,0,2539329,1,prior,1,2,8,NaN,1
1,1,1,2398795,1,prior,2,3,7,15.0,1
2,2,2,473747,1,prior,3,3,12,21.0,1
3,3,3,2254736,1,prior,4,4,7,29.0,1
4,4,4,431534,1,prior,5,4,15,28.0,1

In [14]:
# Checking the shape of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [15]:
# Checking the shape of df_ords
df_ords.shape

(3421083, 10)

In [16]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,uder_id,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,1,26405,5,0,both

In [19]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))